@{
    this.ViewBag.Title = "Home";
    this.ViewBag.ActivePage = "Home";
}
<div class="panel">
    <h1 class="display-5">Demo</h1>
    <hr class="my-2" />
    <p>
        Here's a little demo project where you can find demo's of some of the components.
    </p>
    <p>See <a href="http://www.avassy.com/framework">http://www.avassy.com/framework</a> for more info.</p>
    <hr class="my-2" />
    <h4 class="font-weight-light">Available demo's</h4>
    <ul>
        <li><a asp-controller="TagHelpers" asp-action="Index">Avassy.AspNetCore.Mvc.TagHelpers</a></li>
        <li><a asp-controller="InvisibleReCaptcha" asp-action="Index">Avassy.AspNetCore.Mvc.InvisibleReCaptcha</a></li>
    </ul>
</div>
